@import url('https://fonts.googleapis.com/css?family=Raleway');

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

#video-background {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    pointer-events: none;
}

#photo-background {
    background-image: url('./media/trees_header.jpg');
    background-position: center bottom;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    object-fit: cover;
}

#wedfest-logo {
    top: 8vh;
    max-width: 40vmin;
    max-height: 30vmin;
    height: auto;
    position: absolute;
    background-repeat: no-repeat;
    animation: glow 3s ease infinite alternate;
}

@keyframes glow {
    0% {
        filter: brightness(1);
    }
    100% {
        filter: brightness(2);
    }
}

#names-header {
    top: 28vh;
    max-width: 55vmin;
    max-height: 45vmin;
    height: auto;
    position: absolute;
    background-repeat: no-repeat;
}
.title-holder {
    display: flex;
    justify-content: center;
}
#footer {
    background-image: url('./media/trees_header.jpg');
    background-position: center bottom;
    object-fit: cover;
    display: flex;
    justify-content: center;
}

.music-footer {
    width: auto;
    height: 40vh;
    padding: 10vh 0;
}

.main-body {
    top: 75vh;
    width: 100vw;
    position: absolute;
    display: flex;
    justify-content: center;
}

button.rsvp {
    border: 2px white solid;
    font-family: Raleway;
    color: #fff;
    width: 200px;
    height: 70px;
    font-size: 1.5rem;
    background-color: rgba(255,255,255,0);
    transition: all 0.7s ease;
    outline: 0;
}
button.rsvp:hover {

    background-color: rgba(255,255,255,0.3);
    animation: button-pulse 1s linear infinite alternate;
}

@keyframes button-pulse {
    0% {
        border: 2px white solid;
    }
    100% {
        border: 2px rgba(255,255,255,0) solid;
    }
}
.body {
    position: absolute;
        top: 100vh;
}
.info-holder {
    height: auto;
    width: 100vw;
    left: 0;
    font-family: Raleway;
    color: #fff;
}
.info-bg {
    padding: 15vh 15vw;
}
.info-bg h2 {
    font-size: 2rem;
    text-transform: uppercase;
}
.info-bg:nth-child(odd) {
    text-align: left;
    color: #321627;
}
.info-bg:nth-child(even) {
    text-align: right;
    background-color: #321627;
}
/* .info-bg:nth-child(3n) {
    background-color: #778898;

    color: #fff;
}
.info-bg:nth-child(4n) {
    background-color: #1c453b;
} */


span.strong, p.strong, h3.strong {
    font-weight: 900;
}
